<a href="https://colab.research.google.com/github/VenusV-prog/_WTM-GDG-Bambili-100-Days-of-Code-Datascience_/blob/main/conditional_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
a = 10
b = 4
c = 0

if b < a:
  print('yes')
if a < b:
  print('yes')
if a:
  print('true')
if b:
  print('vrai')
if c:
  print('yes')
if 'venus' in [2, 'jupiter', 'venus', 7.8]:
  print('present')
if 'now' in 'know':
  print('true')

yes
true
vrai
present
true

the expression after the if statement is evaluated as a boolean meaning the value must be true or false then the expression that follows must be indented and also must be a valid python statement

In [23]:
if 'biology' in ['maths', 'physics', 5.5, 7, 'biology']:
    print('the expr was true')
    print('biology was present in the list')
    print('bilogy is an element of list')
print('conditional statement had a value truthy value')

the expr was true
biology was present in the list
bilogy is an element of list
conditional statement had a value truthy value

to print many statements in case the expr is true, we put the true statements in a block(suite) by giving them thesame indentation. the statement to print if the expresion was false is given an outdent from the true statements and will be executed instead

In [29]:
#more complicated blocks applying off-side rule

if 'biology' in ['maths', 'physics', 5.5, 7, 'biology']:
    print('the expr was true')
    print('biology was present in the list')
    print('biology is an element of list')
    
    if 6 < 10:
      print('the inner block was executed')
    if 'a' in ['a', 'b', 'c']:
      print('another inner block was executed')
print('conditional statement had a value truthy value hence inner blocks were executed')

the expr was true
biology was present in the list
biology is an element of list
the inner block was executed
another inner block was executed
conditional statement had a value truthy value hence inner blocks were executed

In [33]:
#the else clause
if 'biology' in ['maths', 'physics', 5.5, 7]:
    print('the expr was true')
    print('biology was present')
else:
  print('expr was false')
  print('biology was absent')

expr was false
biology was absent

biology was absent so the first suite was skipped and the second was executed

In [35]:
fav_subject = 'maths'
if fav_subject == 'geography':
  print('i hate geography')
elif fav_subject == 'history':
  print('i do not like history either')
elif fav_subject == 'maths':
  print('i love maths')
else:
  print('i do not know this subject')

i love maths

In [39]:
fav_subject = {
    'maths': 'i love maths',
    'geography': 'i hate geography',
    'history': 'i do not lime history either'
}
print(fav_subject.get('maths', 'i love maths'))
print(fav_subject.get('geography', 'i hate geography'))

i love maths
i hate geography

In [43]:
#one-line if statements
if 2 < 3: print('2 is small'); print('3 is bigger'); print('the expr was true')

2 is small
3 is bigger
the expr was true

In [47]:
#one-line elif
x = 0
if x == 1: print('false'); print('x is not 2'); print('no')
elif x == 2: print('true expr'); print('x is equal to 2')
else: print('x is invalid'); print('x is none')

x is invalid
x is none

In [52]:
#conditional expressions
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [54]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [57]:
#standard if statements vs conditional expressions
#standard if
if a > b:
  m = a
else:
  m = b
#conditional expression
m = a if a > b else b

In [59]:
x = y = 40
z = (1 + x) if x > y else (y + 2)
z

42

In [61]:
x = 50 
y = 40

z = 5 + (x if x > y else y) - 2
z

53

here, the conditional expression is evaluated first due to the paranthesis. hence we have 5 + 50 - 2

In [65]:
#chaining conditional expressions as alternative if else statements
x == 5
s = ('react' if (x == 1) else
      'bootstrap' if (x == 2) else
      'vue' if (x == 3) else
      'laravel' if (x == 4) else
      'codeigniter'
    )
s

'codeigniter'

In [67]:
#python pass statement
if True:
    pass

print('success')

success

the pass is used to enable the enterpreter run the code normally when a statement was required