<a href="https://colab.research.google.com/github/VenusV-prog/_WTM-GDG-Bambili-100-Days-of-Code-Datascience_/blob/main/Day14_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#functions with positional arguments
def f(name, department, level):
  print(f'{name} studies {department} and is in level {level}')
f('kelly', 'Mechanical Engineering', 400)

kelly studies Mechanical Engineering and is in level 400

In [9]:
#functions with keyword arguments
def f(name, department, level):
  print(f'{name} studies {department} and is in level {level}')
f(name = 'venus', department = 'Computer Engineering', level = 500)

venus studies Computer Engineering and is in level 500

In [19]:
#functions with default parameters
def f(name = 'venus', department = 'Computer Engineering', level = 500):
  print(f'{name} studies {department} and is in level {level}')
f('blessing', 'Civil Engineering')

blessing studies Civil Engineering and is in level 500

In [27]:
#functions with mutable default parameters
def f(cities=None):
  if cities is None:
    cities = []
  cities.append('Toronto')
  return cities
print(f(['Ontario', 'Iowa']))
f(['London', 'Quebec'])

['Ontario', 'Iowa', 'Toronto']

['London', 'Quebec', 'Toronto']

In [32]:
#argument passing(pass-by-value)
def f(y):
  print('y =', y, 'and  id(y) = ', id(y))
  y = 17
  print('y =', y, 'and  id(y) = ', id(y))

x = 9
print('x =', x, 'and  id(x) = ', id(x))

f(x)

x = 9 and  id(x) =  94773271898880
y = 9 and  id(y) =  94773271898880
y = 17 and  id(y) =  94773271899136

In [36]:
#argument passing
def f(x):
  x = 'Canada'

for i in (
        dict(Toronto = 1, Ontario = 2),
        {7.4, 2, 8},
        'USA',
        ['Toronto', 'Ontario', 'Quebec'],
        5.25):
     f(i)
     print(i)

{'Toronto': 1, 'Ontario': 2}
{8, 2, 7.4}
USA
['Toronto', 'Ontario', 'Quebec']
5.25

Python functions can not change the value of an argument by reassigning the corresponding parameter to something else

In [37]:
#python functions can however modify its arguments as shown below(pass-by-reference)
def f(x):
  x[0] = 'Yaounde'
cities = ['Cameroon', 'Toronto', 'Ontario', 'Iowa']
f(cities)
cities

['Yaounde', 'Toronto', 'Ontario', 'Iowa']

The function canâ€™t reassign the object totally, but it can change items in place within the object

In [45]:
#the return statement to prematurely end a function
def f(x):
  if 'Cameroon' in x:
    return
  if 'Canada' in x:
    return
  print(x)

f(['Cameroon', 'Toronto', 'Ontario', 'Iowa'])
f(['Cameroon', 'Toronto', 'Ontario', 'Canada'])
f(['New York', 'Toronto', 'Ontario', 'Iowa'])

['New York', 'Toronto', 'Ontario', 'Iowa']

In [49]:
#returning data to the caller with the return statement
def f():
  return ['New York', 'Toronto', 'Ontario', 'Iowa']

print(f()[-2])
f()[::-1]

Ontario

['Iowa', 'Ontario', 'Toronto', 'New York']

In [56]:
def double_list(x):
  i = 0
  while i < len(x):
    x[i] *= 2
    #return x[i] * 2
    i += 1 

y = [9, 2.5, 3.25, 8]
double_list(y)
y

[18, 5.0, 6.5, 16]

In [90]:
#return statement with function annotation
def double_list(x:list):
  r = []
  for i in x:
    r.append(i * 2)
  return r

y = [9, 2.5, 3.25, 8]
y = double_list(y)
print(y)
double_list.__annotations__

[18, 5.0, 6.5, 16]

{'x': list}

In [88]:
#variable-length argument list with docstrings
def avg(a):
  """sums the elements of a list and divides it by the total number of elements"""
  total = 0
  for i in a:
          total += i
  return total / len(a)

print(avg([9, 2.5, 3.25, 8])) 
print(avg([0, 3, 7.4, 0.4, 5]))
print(avg.__doc__)

5.6875
3.16
sums the elements of a list and divides it by the total number of elements

In [64]:
#argument tupple packing
def avg(*args):
  return sum(args) / len(args)

avg(10, 20, 30)

20.0

this generates an error if any arguments is non-numeric

In [66]:
#argument tupple packing and unpacking
def f(*args):
  print(type(args), args)

cities = ['Cameroon', 'Toronto', 'Ontario', 'Iowa']
f(*cities)

<class 'tuple'> ('Cameroon', 'Toronto', 'Ontario', 'Iowa')

In [70]:
#argument tupple and dictionary packing 
def f(a, b, *args, **kwargs):
  print(f'a = {a}')
  print(f'b = {b}')
  print(f'args = {args}')
  print(f'kwargs = {kwargs}')

f(1, 2, 'Toronto', 'Ontario', 'London', 'Iowa', x=100, y=200, z=300)

a = 1
b = 2
args = ('Toronto', 'Ontario', 'London', 'Iowa')
kwargs = {'x': 100, 'y': 200, 'z': 300}

In [72]:
#argument tupple and dictionary unpacking
def f(*args):
  for i in args:
    print(i)

f(*[1, 2, 3], *[4, 5, 6])

def f(**kwargs):
  for k, v in kwargs.items():
    print(k, '->', v)
    
f(**{'a': 1, 'b': 2}, **{'x': 3, 'y': 4})

1
2
3
4
5
6
a -> 1
b -> 2
x -> 3
y -> 4

In [75]:
#keyword-only arguments
def concat(*args, prefix='-> ', sep='.'):
  print(f'{prefix}{sep.join(args)}')

concat('gmail', 'com')
concat('gmail', 'com', prefix='//')
concat('keyword', 'only', prefix='//', sep='-')

-> gmail.com
//gmail.com
//keyword-only

In [84]:
#keyword-only arguments with dummy variable
def oper(x, y, *ignore, op='+'):
  if op == '+':
    return x + y
  elif op == '-':
    return x - y
  elif op == '/':
    return x / y
  else:
    return None

print(oper(10, 5, 'this is a dummy variable ', op='+'))
print(oper(10, 5, op='/'))
oper(10, 20, '-')

15
2.0

30

notice that the last result is false because it considers - as a dummy variable and carries out the default operation + on the 2 int args

In [82]:
def oper(x, y, *, op='+'):
  if op == '+':
    return x + y
  elif op == '-':
    return x - y
  elif op == '/':
    return x / y
  else:
    return None

print(oper(10, 5, 'this is a dummy variable ', op='+'))
oper(10, 5, op='/')

TypeError: ignored

the simple asteris generates an error when positional variables are more than 2. this will avoid false results like the *ignore method