<a href="https://colab.research.google.com/github/VenusV-prog/_WTM-GDG-Bambili-100-Days-of-Code-Datascience_/blob/main/Day12%2613.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
#datatypes
#integers
34
print(0o30)
print(0x40)
print(bin(34))

24
64
0b100010

In [66]:
#floats
print(.9e5)
.9e-3
x = 49.51
round(x)

90000.0

50

In [30]:
#complex numbers
type(7 - 3j)

complex

In [50]:
#strings
print('venus is a level 400("four hundred")' + ' girl ' + 'in NAHPI')
print('venus is a level 400(four hundred\') girl')
print('venus\\girl\\400\\NAHPI')
print('venus\tgirl\t400\tNAHPI')
print('venus\ngirl\n400\nNAHPI')
print('venus\agirl\n400\tNAHPI')
print('''('venus')\t("girl")\t('NAHPI')''')

venus is a level 400("four hundred") girl in NAHPI
venus is a level 400(four hundred') girl
venus\girl\400\NAHPI
venus	girl	400	NAHPI
venus
girl
400
NAHPI
venusgirl
400	NAHPI
('venus')	("girl")	('NAHPI')

In [69]:
#boolean
x = [2, 5, 6.7, 'venus']
print('venus' not in x)
print(5 in x)
y = [2, 5, 6.7, 1.98]
print(min(y))
print(sum(y))

False
True
1.98
15.68

In [82]:
#python map()
def power(x):
  return x**3
var  = [3.4, 5, 6.09]
y = map(power, var)
print(list(y))
z = map(int, var)
print(list(z))

var2 = [9, 0.5, 7, 4, 8]

sum = map(lambda num: num + 10, var2)
list(sum)

[39.303999999999995, 125, 225.86652899999999]
[3, 5, 6]

[19, 10.5, 17, 14, 18]

In [92]:
#multiple input iterable
x = [2, 3, 4]
y = [10, 20, 30]
z = map(pow,x,y)
print(list(z))

list(map(lambda x, y: x - y, x, y))

[1024, 3486784401, 1152921504606846976]

[-8, -17, -26]

In [99]:
#transforming iterables of strings using map()
department = ['computer', 'mechanical','electrical', 'civil']
print(list(map(str.title, department)))
list(map(str.upper, department))

['Computer', 'Mechanical', 'Electrical', 'Civil']

['COMPUTER', 'MECHANICAL', 'ELECTRICAL', 'CIVIL']

In [103]:
#removing punctuations
import re
def remove_punctuation(var):
  return re.sub(r'[/\!?.:;,"()-]', "", var)
remove_punctuation('.../computer!')

sentence = 'venus loves to become a data scientist'
words = sentence.split()
words

['venus', 'loves', 'to', 'become', 'a', 'data', 'scientist']

In [107]:
#the cipher algorithm
def rotate_chr(c):
    rot_by = 3
    c = c.lower()
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    # Keep punctuation and whitespace
    if c not in alphabet:
        return c
    rotated_pos = ord(c) + rot_by
    # If the rotation is inside the alphabet
    if rotated_pos <= ord(alphabet[-1]):
        return chr(rotated_pos)
    # If the rotation goes beyond the alphabet
    return chr(rotated_pos - len(alphabet))

print("".join(map(rotate_chr, "this message is encrypted.")))

wklv phvvdjh lv hqfubswhg.

In [128]:
#map() on iterable numbers and use of list comprehension(replacing map())
import math

numbers = [1, 45, 81, 0, 180, 36]

print(list(map(math.cos, numbers)))
print([math.sqrt(x) for x in numbers])

[0.5403023058681398, 0.5253219888177297, 0.7766859820216312, 1.0, -0.5984600690578581, -0.12796368962740468]
[1.0, 6.708203932499369, 9.0, 0.0, 13.416407864998739, 6.0]

In [129]:
#map() on iterable numbers and generator expression(replacing map())
def to_cm(m):
  return m*100
def to_m(cm):
  return cm/100

y = [45, 8, 19, 10]
print(list(map(to_cm,y)))
print(list(map(to_m,y)))
gen_exp = (to_cm(m) for m in y)
print(list(gen_exp))

[4500, 800, 1900, 1000]
[0.45, 0.08, 0.19, 0.1]
[4500, 800, 1900, 1000]

In [121]:
#map() and filter()
def is_even(x):
  return (x % 2) == 0

def even_sqrt(y):
  even_iter = map(math.sqrt, filter(is_even, y))
  return list(even_iter)

list(even_sqrt([4, 9, 16, 49, 36, 64]))

[2.0, 4.0, 6.0, 8.0]

In [137]:
#map() and reduce()
import functools
import operator
import os
import os.path

# files = os.listdir(os.path.expanduser("C:\wamp\www\stock_management"))

# functools.reduce(operator.add, map(os.path.getsize, files))