<a href="https://colab.research.google.com/github/VenusV-prog/_WTM-GDG-Bambili-100-Days-of-Code-Datascience_/blob/main/day7_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#defining dictionaries method 1
city = {
     'Cameroon' : 'Yaounde',
     'Canada'   : 'Toronto',
     'Nigeria'  : 'Lagos',
     'USA'      : 'Carlifonia',
 }
city

{'Cameroon': 'Yaounde',
 'Canada': 'Toronto',
 'Nigeria': 'Lagos',
 'USA': 'Carlifonia'}

In [27]:
#defining dictionaries method 2
city = dict([
     ('Cameroon', 'Yaounde'),
     ('Canada', 'Toronto'),
     ('Nigeria', 'Lagos'),
     ('USA', 'Carlifonia'),
])
city

{'Cameroon': 'Yaounde',
 'Canada': 'Toronto',
 'Nigeria': 'Lagos',
 'USA': 'Carlifonia'}

In [28]:
#defining dictionaries method 3
city = dict(
     Cameroon='Yaounde',
     Canada='Toronto',
     Nigeria='Lagos',
     USA='Carlifonia',
 )
city

{'Cameroon': 'Yaounde',
 'Canada': 'Toronto',
 'Nigeria': 'Lagos',
 'USA': 'Carlifonia'}

In [29]:
#accesing dictionary values
city['Canada']
city['USA']

'Carlifonia'

In [31]:
#adding a new entry to the dict province
city['UK'] = 'London'
city

{'Cameroon': 'Yaounde',
 'Canada': 'Toronto',
 'Nigeria': 'Lagos',
 'UK': 'London',
 'USA': 'Carlifonia'}

In [34]:
#modifying an entry in a dict
city['Canada'] = 'Quebec'
city

{'Cameroon': 'Yaounde',
 'Canada': 'Quebec',
 'Nigeria': 'Lagos',
 'UK': 'London',
 'USA': 'Carlifonia'}

In [42]:
#deleting an entry in a dict
#del city['Cameroon']
city

{'Canada': 'Quebec', 'UK': 'London', 'USA': 'Carlifonia'}

In [46]:
#deleting
city = dict(
     Cameroon='Yaounde',
     Canada='Toronto',
     Nigeria='Lagos',
     USA='Carlifonia',
 )
city
del city['Nigeria']
city

{'Cameroon': 'Yaounde', 'Canada': 'Toronto', 'USA': 'Carlifonia'}

In [53]:
#difference between keys and indices
mobile = {0: 'vuejs', 1: 'java', 2: 'react', 3: 'flutter'}
mobile

{0: 'vuejs', 1: 'java', 2: 'react', 3: 'flutter'}

In [54]:
mobile[3]

'flutter'

python does not interprete 3 as an idex but as a key

In [58]:
#the following does not apply to dictionaries
#mobile[0:2]
mobile.append('kotlin')

AttributeError: ignored

In [62]:
#building a dictionary
student = {}
type(student)


student['name'] = 'venus'
student['level'] = 500
student['school'] = 'NAHPI'
student['department'] = 'Computer Engineering'
student['semester'] = ['first', 'second']
student['courses'] = {'Dr Pascalin': 'maths', 'Dr Lienou': 'Computational Thinking'}
student

{'courses': {'Dr Lienou': 'Computational Thinking', 'Dr Pascalin': 'maths'},
 'department': 'Computer Engineering',
 'level': 500,
 'name': 'venus',
 'school': 'NAHPI',
 'semester': ['first', 'second']}

In this cell, we see that the values of a dict must not be of thesame datatype

In [65]:
#accesing the entries of dict student
student['department']
student['courses']

{'Dr Lienou': 'Computational Thinking', 'Dr Pascalin': 'maths'}

In [70]:
#accesing values in list and dictionary entries
student['courses']['Dr Pascalin']
student['semester'][0]

'first'

to achieve this, we need and additional key for the dict or index for the list.

In [74]:
foo = {42: 'aaa', 2.78: 'bbb', True: 'ccc'}

foo

foo[42]

foo[2.78]

foo[True]

'ccc'

the keys too must not be of thesame datatype

In [77]:
#tuples can also be used a dict keys because they are immutable
d = {(1, 1): 'a', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd'}
d[(1,1)]

'a'

In [76]:
#restrictions on dictionary keys
city = {
     'Cameroon' : 'Yaounde',
     'Canada'   : 'Toronto',
     'Nigeria'  : 'Lagos',
     'USA'      : 'Carlifonia',
 }
city['Cameroon'] = 'Douala'
city

{'Cameroon': 'Douala',
 'Canada': 'Toronto',
 'Nigeria': 'Lagos',
 'USA': 'Carlifonia'}

we see that using an existing key to add another value only overides the existing one, so a key can not be used twice

In [78]:
d = {[1, 1]: 'a', [1, 2]: 'b', [2, 1]: 'c', {2: 'two', 3: 'three'}: 'd'}
d

TypeError: ignored

neither a list nor dict can be used a dictionary key because they are mutable

In [80]:
#there are no restrictions on dict values
d = {0: {2: 'two', 3: 'three'}, 1: 'a', 2: 'a', 3: [1, 2]}
d

{0: {2: 'two', 3: 'three'}, 1: 'a', 2: 'a', 3: [1, 2]}

In [82]:
d = {0: 'a', 1: 'a', 2: 'a', 3: 'a'}
d[0] == d[1] == d[2]

True

In [87]:
#operators in dictionaries "in" and "not in"
city = {
     'Cameroon' : 'Yaounde',
     'Canada'   : 'Toronto',
     'Nigeria'  : 'Lagos',
     'USA'      : 'Carlifonia',
 }
city
'Cameroon' in city
'Ghana' in city
'Ghana' not in city

True

returns true or false wether the said key is available in the dict

In [89]:
#len function returns the number of values in the dict
len(city)

4

In [92]:
#built in methods on dicts
d = {0: {2: 'two', 3: 'three'}, 1: 'a', 2: 'a', 3: [1, 2]}
d.clear()
d

{}

In [95]:
#the .get function gets the value of the specified key
d = {0: {2: 'two', 3: 'three'}, 1: 'a', 2: 'a', 3: [1, 2]}
print(d.get(0))

{2: 'two', 3: 'three'}

In [97]:
#if the key is not found but the default is defined, it prints the default value
print(d.get(5, 'five'))

five

In [98]:
d = {0: {2: 'two', 3: 'three'}, 1: 'a', 2: 'a', 3: [1, 2]}
list(d.items())

[(0, {2: 'two', 3: 'three'}), (1, 'a'), (2, 'a'), (3, [1, 2])]

returns a list of tuples with the key and value as the first and second element of the tuple respectively

In [100]:
#.keys() and .values() methods
list(d.keys())
list(d.values())

[{2: 'two', 3: 'three'}, 'a', 'a', [1, 2]]

returns separate lists of the keys and values of the dictionary

In [101]:
#popping values of a dict
d.pop(3)

[1, 2]

removes the value of the specified key and prints it. this generates an error if the key is not found in the dict

In [103]:
d.pop(6, 'six')

'six'

removes the secified default value if the key is not avaible in the dict

In [105]:
d = {0: {2: 'two', 3: 'three'}, 1: 'a', 2: 'a', 3: [1, 2]}
d.popitem()

(3, [1, 2])

removes the last pair of key and value and prints it as a tuple. if the dict is empty, .popitem() generates an error

In [109]:
#updating a dict
even = {2: 'two', 4: 'four', 6: 'six'}
prime = {2: 'deux', 5: 'five', 7: 'seven', 13: 'thirtheen' }
even.update(prime)
even

{2: 'deux', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 13: 'thirtheen'}

here we see that the method merges the two dict but in the case where a key is repeated, the second value overrides the the first value of the said key

In [121]:
#other methods of updating a dict
even = {2: 'two', 4: 'four', 6: 'six'}
even.update({2: 'deux', 5: 'five', 7: 'seven', 13: 'thirtheen' })
even

even.update([(2,'deux'), (5,'five'), (7,'seven'), (13,'thirtheen')])
even

{2: 'deux', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 13: 'thirtheen'}