<a href="https://colab.research.google.com/github/VenusV-prog/_WTM-GDG-Bambili-100-Days-of-Code-Datascience_/blob/main/Day_5_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1=["hi", "my", "name", "is", "venus", 4, 5, 10, 8, 9, 3.3, 3.05, 7.8, 0.5 ]
print(list1)

['hi', 'my', 'name', 'is', 'venus', 4, 5, 10, 8, 9, 3.3, 3.05, 7.8, 0.5]

In [ ]:
var1="Hello" + " world"
list1.append(var1)
print(list1)

['hi', 'my', 'name', 'is', 'venus', 4, 5, 10, 8, 9, 3.3, 3.05, 7.8, 0.5, 'Hello world']

In [ ]:
list4=[6, 7, 4, 5.5, 3.65, 3.05, 8.5, 4.6, 7.5, "my", "fav", "coding", "course"]

In [ ]:
list5= list1 + list4
print(list5)

['hi', 'my', 'name', 'is', 'venus', 4, 5, 10, 8, 9, 3.3, 3.05, 7.8, 0.5, 'Hello world', 6, 7, 4, 5.5, 3.65, 3.05, 8.5, 4.6, 7.5, 'my', 'fav', 'coding', 'course']

In [52]:
list2=[5, 6, 7.0, "Eight", "Nine"]
list3=print([type(element) for element in list2])

[<class 'int'>, <class 'int'>, <class 'float'>, <class 'str'>, <class 'str'>]

In [ ]:
list2=[5, 6, 7.0, "Eight", "Nine"]
list3=[]
for element in list2:
    var= print (type(element))
    list3.append(var)
print(list3)

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
[None, None, None, None, None]

In [ ]:
#coming up with the list
listindex1 = list(range(2, 11, 2))
print(listindex1)
#printing the first element of the list
print(listindex1[0])

[2, 4, 6, 8, 10]
2

In [ ]:
#print(listindex1[8])
#printing 9th element

list index is out of range when we try printing the 9th element

In [ ]:
var1 = listindex1[4]
print(var1)

10

In [ ]:
#var2 = print(listindex1[11])

the list index is out of range when we try accesing the 12th element

In [35]:
listindex2 = print(listindex1[3:6])
#coming up with another list from listindex 1.
#The values i have are the valid ones as we can see the 6th element was not printed cuz i don't have any

[8, 10]

In [68]:
#playing around
min = [2, "hello", 6.0]
[type(min[0]),type(min[1]),type(min[2])]

[int, str, float]