<a href="https://colab.research.google.com/github/VenusV-prog/_WTM-GDG-Bambili-100-Days-of-Code-Datascience_/blob/main/Day_10_for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#the format of python's for loop
for <var> in <iterable>:
    <statement(s)>

In [1]:
city = ['London', 'Lagos', 'Ontario', 'Toronto','Iowa']
for i in city:
  print(i)

London
Lagos
Ontario
Toronto
Iowa

the program functions under the concept of definite iteration, amazing how i later understood clearly how this loop works! the iter() and next() functions in the hidden process makes evrything clearer now

In [4]:
#iterable objects in python

# String
iter('province')                             

# List
iter(['London', 'Lagos', 'Ontario', 'Toronto','Iowa'])                

# Tuple
iter(('London', 'Lagos', 'Ontario', 'Toronto','Iowa'))

# Set
iter({'London', 'Lagos', 'Ontario', 'Toronto','Iowa'})               

# Dict
iter({'London': 1, 'Lagos': 2, 'Ontario': 3, 'Iowa': 3})

the function iter() outputs the iterator of an object. int and floats are not iterable

In [8]:
#the next() function
city = ['London', 'Lagos', 'Ontario', 'Toronto','Iowa']
itr = iter(city)
itr

next(itr)
next(itr)
next(itr)
next(itr)
next(itr)

'Iowa'

the function next() goes through the iterable object(list) and prints its entries one after the other chronologically. the function will display a StopIteration exception if all the values have been printed already. two independent iterators can be defined on thesame iterable

In [12]:
#printing all the values of an iterable at once in a list,tupple,set,dict
city = ['London', 'Lagos', 'Ontario', 'Toronto','Iowa']
itr = iter(city)
list(itr)
#tuple(itr)
# set(itr)
# dict(itr)

['London', 'Lagos', 'Ontario', 'Toronto', 'Iowa']

it can also be done in a set and dict. however it is not advisable to get all the values of an iterable at once because the program will hang in cases of large data

In [15]:
#iterating through a dictionary
city = {'London': 1, 'Lagos': 2, 'Ontario': 3, 'Iowa': 3}
for a in city:
  print(a)

London
Lagos
Ontario
Iowa

this prints the dict keys

In [21]:
#to get the dictionary values
city = {'London': 1, 'Lagos': 2, 'Ontario': 3, 'Iowa': 4}
for a in city:
  print(city[a])

#or

for a in city.values():
  print(a)

1
2
3
4
1
2
3
4

In [23]:
#to get the key and value together in a dict
city = {'London': 1, 'Lagos': 2, 'Ontario': 3, 'Iowa': 4}
for a, b in city.items():
  print('a =', a, ', b =', b)

a = London , b = 1
a = Lagos , b = 2
a = Ontario , b = 3
a = Iowa , b = 4

In [28]:
#the range() function
x = range(2, 10)
type(x)
list(x)
tuple(x)

for y in x:
  print(y)

2
3
4
5
6
7
8
9

the range function list values less tudiously 2 is the start and 10 is the end, there was no stride in this example. the values of a range can be printed in a list, set, dict, and also can be passed through a for loop hence range is iterable

In [29]:
#range() with stride
x = range(2, 11,2)
list(x)

[2, 4, 6, 8, 10]

stride specifies the number to skip before printing the next number, hence giving the list a regular pattern

In [31]:
#a range can take any integer even negatives
x = range(-2, 3)
list(x)

[-2, -1, 0, 1, 2]

In [33]:
#restrictions on range
x = range(2, -3)
list(x)
x = range(2, -3, -1)
list(x)

[2, 1, 0, -1, -2]

the first code outputs an empty list. in a range, the end must be greater than the start otherwise, specify a stride

In [38]:
#break statement and else clause on the for loop
for i in ['foo', 'bar', 'baz', 'qux']:
  if i == 'bar':
    break
  print(i)
else:
    print('Done.')  #else clause Will not execute bc the loop was broken

foo

In [39]:
#the continue statement on the for loop
for i in ['foo', 'bar', 'baz', 'qux']:
  if 'b' in i:
    continue
  print(i)

foo
qux