<a href="https://colab.research.google.com/github/VenusV-prog/_WTM-GDG-Bambili-100-Days-of-Code-Datascience_/blob/main/Day_11_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#properties of lists 
#lists are ordered
city = ['London', 'Lagos', 'Ontario', 'Toronto','Iowa']
city2 = ['Lagos', 'Ontario', 'London', 'Iowa', 'Toronto']
city == city2

False

In [13]:
#lists can contain varrying datatypes including functions,modules and complex objects
city = ['London', True, 5.38, 'Toronto',60]
city

['London', True, 5.38, 'Toronto', 60]

In [19]:
#a list can contain thesame element twice, elements can be indexed and sliced
city = ['London', 'Lagos', 'Ontario', 'Toronto','Iowa', 'London']
city[3]
city[1:4]
print(city[:4], city[0:4])
#a stride can be specified
print(city[0:6:3])

['London', 'Lagos', 'Ontario', 'Toronto'] ['London', 'Lagos', 'Ontario', 'Toronto']
['London', 'Toronto']

In [23]:
#using negative indices
city = ['London', 'Lagos', 'Ontario', 'Toronto','Iowa', 'London']
x = city[-5:-2]
x
y = city[1:4]
y
x == y

True

In [26]:
#reversing a list
city = ['London', 'Lagos', 'Ontario', 'Toronto','Iowa']
city[::-1]

['Iowa', 'Toronto', 'Ontario', 'Lagos', 'London']

In [31]:
#in and not operators, concantenation and replication
city = ['London', 'Lagos', 'Ontario', 'Toronto','Iowa']
'Iowas' in city
'Ontario' not in city
city + ['Carlifonia', 'Douala']
city*2

['London',
 'Lagos',
 'Ontario',
 'Toronto',
 'Iowa',
 'London',
 'Lagos',
 'Ontario',
 'Toronto',
 'Iowa']

In [35]:
#len(), min() and max() fxns
city = ['London', 'Lagos', 'Ontario', 'Toronto','Iowa']
len(city)
min(city)
max(city)

'Toronto'

In [38]:
#lists can be nested
city = ['London', 'Lagos', ['Ontario', 'Quebec', False], 'Toronto',['Iowa', 5, 23.7, 'Canada']]
print(city[4][2])
print([city[0], len(city) + city[4][1]])

23.7
['London', 10]

In [40]:
#modifying lists
city = ['London', 'Lagos', ['Ontario', 'Quebec', False], 'Toronto',['Iowa', 5, 23.7, 'Canada']]
city[4] = 'Bamenda'
city

['London', 'Lagos', ['Ontario', 'Quebec', False], 'Toronto', 'Bamenda']

In [47]:
#deleting list elements
city = ['London', 'Lagos', ['Ontario', 'Quebec', False], 'Toronto',['Iowa', 5, 23.7, 'Canada']]
del city[4]
city
del city[2:]
city
#or
city[2:] = []
city

['London', 'Lagos']

In [62]:
#adding elements to a list
city = ['London', 'Lagos']
city[0:1] = [5, 'Bamenda', 23.7]
city
city[0:0] = [5, 'Bamenda', 23.7]
city

[5, 'Bamenda', 23.7, 5, 'Bamenda', 23.7, 'Lagos']

In [51]:
#append
city = ['London', 'Toronto']
city.append([5, 23.7, 'Bamenda'])
city

['London', 'Toronto', [5, 23.7, 'Bamenda']]

In [53]:
#extend similar to + operator
city = ['London', 'Toronto']
city.extend([5, 23.7, 'Bamenda'])
city

['London', 'Toronto', 5, 23.7, 'Bamenda']

In [65]:
#insert, remove and pop on lists
city = ['London', 'Toronto']
city.insert(2, 5)
city
city += ['Bamenda']
city

['London', 'Toronto', 5, 'Bamenda']

In [58]:
#with remove we specify the element
city = ['London', 'Toronto']
city.remove(city[0])
city

['Toronto']

In [66]:
#pop removes the last element
city = ['London', 'Lagos', ['Ontario', 'Quebec', False], 'Toronto',['Iowa', 5, 23.7, 'Canada']]
city.pop()
city
city.pop()
city
city.pop()
city

['London', 'Lagos']

In [71]:
#tuples have thesame properties with lists except that it can't be modified
city = ('London', 'Lagos', 'Ontario')
type(city)
city = ('london',)
type(city)

tuple

to define a singleton tupple, add a comma after the element

In [78]:
#packing and unpacking in tupples
(x1, x2 , x3) = ('London', 'Lagos', 'Ontario')
x1
city = 'London', 'Lagos', 'Ontario'
x1, x2 , x3 = city
x1, x2 , x3

('London', 'Lagos', 'Ontario')