<a href="https://colab.research.google.com/github/VenusV-prog/_WTM-GDG-Bambili-100-Days-of-Code-Datascience_/blob/main/Day_6_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#difference between sets and dictionaries
x = set()
type(x)

x = {}
type(x)

dict

In [75]:
#set definition. no repetiotion allowed
x = {'foo', 'bar', 'baz', 'foo', 'qux'}
x

x = {'q', 'u', 'u', 'x'}
x

{'q', 'u', 'x'}

In [76]:
#another method to define sets. this methodis for iterable data types
set('foo')

{'f', 'o'}

In [77]:
#other methods to define sets
x= set(['foo', 'bar', 'baz', 'foo', 'qux'])
x

x = set(('foo', 'bar', 'baz', 'foo', 'qux'))
x

{'bar', 'baz', 'foo', 'qux'}

In [78]:
 #iterability
s = 'quux'
#list(s)
set(s)

{'q', 'u', 'x'}

In [4]:
#sets takes multiple datatypes and they are unordered
x = {42, 'foo', 3.14159, None}
x

{3.14159, 42, None, 'foo'}

In [6]:
#sets are unordered and its elements are immutable
x = {42, 'foo', (1, 2, 3), 3.14159}
x

{(1, 2, 3), 3.14159, 42, 'foo'}

In [96]:
#cheking length of sets
x = {'foo', 'bar', 'baz'}

len(x)

3

In [97]:
#cheking membership of sets
x = {'foo', 'bar', 'baz'}

len(x)

# 'bar' in x
'qux' in x

False

In [12]:
#various operations on sets. union operator
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
#x1 | x2
x1.union(x2)

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [16]:
#union method
#x1 | ('baz', 'qux', 'quux')
x1.union(('baz', 'qux', 'quux'))

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [79]:
#union using method and operator
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

a.union(b, c, d)

a | b | c | d

{1, 2, 3, 4, 5, 6, 7}

The result contains all elements that are present in any of the specified sets without repetition

In [81]:
#union operators works uniquely with sets while the method works too with tupples
#x1 | ('baz', 'qux', 'quux')

x1.union(('baz', 'qux', 'quux'))

{'baz', 'quux', 'qux'}

the first line of code generates an error because the | operator is used only among sets

In [20]:
#intersection using method and operator
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.intersection(x2)

x1 & x2

{'baz'}

the result return the set of elements common to both x1 and x2

In [23]:
#difference using method and operator
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}

#a.difference(b, c)


a - b - c

{1, 2, 3}

the operation is performed as such,  a - b is computed first then c is subtracted from the resulting set

In [25]:
#symmetric difference operator
a = {1, 2, 3, 4, 5}
b = {10, 2, 3, 4, 50}
c = {1, 50, 100}

a ^ b ^ c

{5, 10, 100}

performed from left to right just like the difference that is it is performed between a and b then the result is performed with c. the symmetric diff of a and b returns the set of all elements in either a or b, but not both

In [28]:
#.symmetric_difference method does not allow multiple sets
a = {1, 2, 3, 4, 5}
b = {10, 2, 3, 4, 50}
c = {1, 50, 100}

#a.symmetric_difference(b, c)

In [33]:
#.isdisjoint method there is no corresponding operator
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.isdisjoint(x2)

False

returns True if x1 and x2 have no elements in common

In [35]:
#.isdisjoint method there is no corresponding operator
x2 - {'baz'}
x1.isdisjoint(x2 - {'baz'})

True

In [38]:
#.issubset method and operator a set is a subset of itself
x1 = {'foo', 'bar', 'baz'}
x1.issubset({'foo', 'bar', 'baz', 'qux', 'quux'})

# x2 = {'baz', 'qux', 'quux'}
# x1 <= x2

True

it returns true if every element of x1 is in x2 and vice versa

In [41]:
#proper set operator < there is no corresponding method
x1 = {'foo', 'bar'}
x2 = {'foo', 'bar', 'baz'}
x1 < x2

True

In [44]:
#proper set operator < there is no corresponding method
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}
x1 < x2

False

once a set is a subset of itself, it is not a proper subset of itself

In [46]:
#supper subset method and operator
x1 = {'foo', 'bar', 'baz'}

x1.issuperset({'foo', 'bar'})

True

In [48]:
#supper subset method and operator
x1 = {'foo', 'bar', 'baz'}

x2 = {'baz', 'qux', 'quux'}
x1 >= x2

False

In [50]:
#a set is considered a subset of itself and also a superset of itself
x = {1, 2, 3, 4, 5}
x.issuperset(x)

x >= x

True

In [53]:
#suppersubset operator
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar'}
x1 > x2

True

In [55]:
#suppersubset. a set is not a super subset of itself
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}
x1 > x2

False

In [58]:
#modifing a set by union operator and method
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 |= x2
x1

x1.update(['corge', 'garply'])
x1

{'bar', 'baz', 'corge', 'foo', 'garply', 'qux'}

this method and operator adds to x1 any elements in x2 that x1 does not already have

In [82]:
#modifing a set by intersection operator and method
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 &= x2
x1

x1.intersection_update(['baz', 'qux'])
x1

{'baz'}

In [83]:
#modifying a set by the symmetric_difference operation
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 ^= x2
x1

x1.symmetric_difference_update(['qux', 'corge'])
x1

{'bar', 'corge'}

 this returns elements found in either x1 or x2, but not both

In [62]:
#modifying sets with the .add(<elem>) method
x = {'foo', 'bar', 'baz'}

x.add('qux')
x

{'bar', 'baz', 'foo', 'qux'}

adds the said element to the set x which must be immutable to the elements of x

In [63]:
#modifying sets with the .remove(<elem>) method generates an error is elem not available
x = {'foo', 'bar', 'baz'}

x.remove('baz')
x

{'bar', 'foo'}

removes the said element and returns an error is element not found

In [84]:
#modifying sets with the .discard(<elem>) method does not generates an error if elem not available
x = {'foo', 'bar', 'baz'}

x.discard('baz')
x

x.discard('qux')
x

{'bar', 'foo'}

removes the said element but does not return an error if the said element was not found

In [95]:
#.pop() method
x = {'foo', 'bar', 'baz'}

x.pop()
x
x.pop()
x
x.pop()
x
#we have exhausted all the elements of the x
# x.pop()
# x

set()

 removes and returns an arbitrarily chosen element from x and returns an error if set is empty hence the commented code in the last 2 lines gave an error

In [69]:
#.clear() method removes all elements from the set
x = {'foo', 'bar', 'baz'}
x.clear()
x

set()

In [71]:
#operations can be carried on frozen sets except the operations to modify
x = frozenset(['foo', 'bar', 'baz'])
x
frozenset({'foo', 'baz', 'bar'})

len(x)

3

In [73]:
#frozen sets are needed to use sets as dictionary keys
x = frozenset({1, 2, 3})
y = frozenset({'a', 'b', 'c'})

d = {x: 'foo', y: 'bar'}
d

{frozenset({1, 2, 3}): 'foo', frozenset({'a', 'b', 'c'}): 'bar'}