<a href="https://colab.research.google.com/github/VenusV-prog/_WTM-GDG-Bambili-100-Days-of-Code-Datascience_/blob/main/Day_3_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
answer = 1 + 1
print(answer)

2

here, we are assigning the sum of two numbers to a variable and printing its value

In [4]:
var1 = 2 + 2
print(var1)
#interger

4

printing out the answer of the operationasigned to var1

In [6]:
var2 = 3+2/5
print(var2)
#float

3.4

here we are performing a little more complex arithmetic diving 2 numbers and adding 3 to its result. all that assigned to var2

In [8]:
var3 = 4 * 16
print(var3)
#interger

64

here, we are multiplying two numbers and asigning the result to var3

In [11]:
var4 = 4 ** 6
print(var4)
#interger

4096

here, we are performing 4 to the 6th power and asign the result to var4

In [13]:
var5 = 'Hello' + ' ' + 'world'
print(var5)
#string or text

Hello world

here, we are concantenating three string to give another string to var5

In [17]:
var6 = 'Hello world ' * 5
print(var6)
#string or text

Hello world Hello world Hello world Hello world Hello world

here, we want to print out a certain string 'Hello world' five times

In [19]:
var7 = 4 % 3
print(var7)
#interger

1

we are calculating the modulo of 4 by 3 meaning we divide and output the remainder