<a href="https://colab.research.google.com/github/VenusV-prog/_WTM-GDG-Bambili-100-Days-of-Code-Datascience_/blob/main/Day_9_while_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#simple example on while loop with its format
y = 3+5
while y > 0:
  y -= 1
  print(y)

7
6
5
4
3
2
1
0

here, the expresion is evaluated in a boolean context and every time the result is true, the statement is executed until it becomes falsy before the while loop is broken

In [7]:
#a false while expression
n = 0
while n > 0:
  n -= 1
  print(n)

here, the expression is not true hence the statement is not executed

In [56]:
city = ['London', 'Lagos', 'Ontario', 'Toronto','Iowa']
while city:
  print(city.pop(-1))

Iowa
Toronto
Ontario
Lagos
London

this program is executed untill the list is empty then it stops

In [57]:
city = ['London', 'Lagos', 'Ontario', 'Toronto','Iowa']
while 'Toronto' in city:
  print(city.pop(-1))

Iowa
Toronto

this program is executed until Toronto is popped then it stops

In [58]:
#the break statement
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended prematurely.')

4
3
Loop ended prematurely.

the break statement ends the loop prematurely

In [23]:
#the continue statement
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

python continue statement terminates the execution of the loop and goes back to the top of the loop and executes it until it is false

In [60]:
#the else clause
n = 5
while n > 0:
     n -= 1
     print(n)
else:
     print('Loop is completely ended.')

4
3
2
1
0
Loop is completely ended.

the statement in the else clause is executed once the boolean value of the expression is no longer true

In [61]:
n = 5
while n > 0:
  n -= 1
  print(n)
  if n == 2:
    break
else:
   print('Loop is completely done.')

4
3
2

here the else clause was not executed because the value of the loop body was not false

In [38]:
city = ['UK', 'London', 'Lagos', 'Ontario', 'Toronto','Iowa']
country = 'UK'
province = 'Quebec'

i = 0
while i < len(city):
  if city[i] == country:
    #processing elements found
    print(country, 'is found in the list')
    break
  i += 1
else:
#processing elements not found 
  print(country, 'not found in list.')

UK is found in the list

In [42]:
#searching an element from a list using valueError exception
city = ['UK', 'London', 'Lagos', 'Ontario', 'Toronto','Iowa']
province = 'Quebec'
try:
  print(city.index('Quebec'))
except ValueError:
  print(province, 'is not found in the list.')

Quebec is not found in the list.

In [50]:
#nested if/elif/else statements
age = 10
gender = 'F'
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

daughter

here, the program stops executing at the first elif since the value was false! this loop is neccesary when we take the age variable from the user thereby having dynamic ages and gender. will look at an example in the next cell

In [55]:
#example on the nested if/elif/else loop
age = int(input('enter your age:'))
gender = input('eneter your gender M(male) and F(female):')
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

enter your age:50
eneter your gender M(male) and F(female):M
father

In [53]:
#nested while loop
city = ['Iowa', 'London', 'Lagos', 'Ontario']
while len(city):
   print(city.pop(0))
   country = ['UK', 'Canada']
   while len(country):
      print('#',country.pop(0))

Iowa
# UK
# Canada
London
# UK
# Canada
Lagos
# UK
# Canada
Ontario
# UK
# Canada

the while loop nested in the first statement is executed as a statement everytime the first while expre is true

In [64]:
#one-line while loop
y = 6-3
while y > 0: y -= 1; print(y)

2
1
0