<a href="https://colab.research.google.com/github/VenusV-prog/_WTM-GDG-Bambili-100-Days-of-Code-Datascience_/blob/main/Day_4_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
list1=["hi", "my", "name", "is", "venus", 4, 5, 10, 8, 9, 3.3, 3.05, 7.8, 0.5 ]
print(list1)

['hi', 'my', 'name', 'is', 'venus', 4, 5, 10, 8, 9, 3.3, 3.05, 7.8, 0.5]

In [25]:
var1="Hello" + " world"
list1.append(var1)
print(list1)

['hi', 'my', 'name', 'is', 'venus', 4, 5, 10, 8, 9, 3.3, 3.05, 7.8, 0.5, 'Hello world']

In [19]:
list4=[6, 7, 4, 5.5, 3.65, 3.05, 8.5, 4.6, 7.5, "my", "fav", "coding", "course"]

In [26]:
list5= list1 + list4
print(list5)

['hi', 'my', 'name', 'is', 'venus', 4, 5, 10, 8, 9, 3.3, 3.05, 7.8, 0.5, 'Hello world', 6, 7, 4, 5.5, 3.65, 3.05, 8.5, 4.6, 7.5, 'my', 'fav', 'coding', 'course']

In [53]:
list2=[5, 6, 7.0, "Eight", "Nine"]
#list3=[]
list3=[type(element) for element in list2]
    #print (type(element))
    #var= print (type(element))
    #list3.append(var)
print(list3)

[<class 'int'>, <class 'int'>, <class 'float'>, <class 'str'>, <class 'str'>]

In [55]:
list2=[5, 6, 7.0, "Eight", "Nine"]
list3=[]
for element in list2:
    var= print (type(element))
    list3.append(var)
print(list3)

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
[None, None, None, None, None]